<section class="products-section">
  <div class="container">
    <h2 class="section-title">Ofertas de la Semana</h2>
    
    <div class="products-grid">
      
      @for (item of listaProductos; track item.idProductos) {
        <div class="product-card">
          
          <div class="product-image">
              @if (item.imagenUrl) {
                <img [src]="item.imagenUrl" [alt]="item.nombre" style="max-width: 100%; max-height: 100%; object-fit: contain;">
              } @else {
                <i class="fa-solid fa-basket-shopping placeholder-img"></i>
              }
              
              @if (item.stock < 10) {
                <span class="badge">¡Poco Stock!</span>
              }
          </div>

          <div class="product-info">
            <span>Departamento General</span> 
            
            <h3>{{ item.nombre }}</h3>
            <p class="descripcion">{{ item.descripcion }}</p>
            
            <div class="stars">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            
            <div class="price-box">
              <p class="price">${{ item.precio }}</p>
              
              <button class="add-btn" (click)="agregarAlCarrito(item)">
                  <i class="fa-solid fa-cart-plus"></i>
              </button>
            </div>
          </div>
        </div>
      }

      @if (listaProductos.length === 0) {
        <div style="grid-column: 1/-1; text-align: center; padding: 20px;">
          <p>Cargando productos o no hay inventario disponible...</p>
        </div>
      }

    </div>
  </div>
</section>